html,
body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    background: radial-gradient(#041536,#020a13);
    font-family: "Source Sans Pro", sans-serif;
    color: #e1e1e1 !important;
    font-size: 1rem;
    font-weight: 300;
}

.navbar {
    margin-top: 2rem !important;
    margin-bottom: 8rem;
}

.navbar-brand {
    font-weight: 500;
    font-size: 1.4rem;
    color: #e1e1e1 !important;
}

@media screen and (max-width: 768px) {
    .navbar {
        margin-top: 0.5rem !important;
        margin-bottom: 2rem;
        margin-right: 1rem;
        margin-left: 1rem;

    }

    .navbar-nav {
        position: fixed;
        /* Sit on top of the page content */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #020a13;
        z-index: 3;
    }

    .navbar-nav_links {
        margin-top: 1rem;
        display: flex;
        align-items: center;

    }

    .nav-link {
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
    }

    .navbar-toggler {
        z-index: 10;
    }

    .navbar-brand {
        font-weight: 500;
    }

    .jumbotron {
        width: 100% !important;
        margin: none !important;
    }
}

.navbar-nav>.d-block {
    background-image: linear-gradient(#e1e1e1, #e1e1e1);
    position: relative;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.navbar-nav>a {
    margin-left: 1.3rem;
    color: #e1e1e1;
    background-image: linear-gradient(#e1e1e1, #e1e1e1);
    position: relative;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background-size 0.75s, background-position 0.75s ease-in-out;
}

.navbar-nav>a:hover {
    position: relative;
    background-size: 100% 2px;
    background-position: 0% 100%;
    transition: background-size 0.95s, background-position 0.95s ease-in-out;
    background-position: bottom;
    color: #e1e1e1;
}

@media screen and (max-width: 768px) {
    .navbar-nav>a {
        width: fit-content;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .navbar-nav>a:hover {
        width: fit-content;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.navbar-toggler {
    border: 0;
}

slide-right {
    width: 100%;
    overflow: hidden;
}

.slide-right a {
    animation: 1.6s slide-right 0.2s forwards;
    transform: translateX(-160%);
}

@keyframes slide-right {
    to {
        transform: translateX(0%);
    }
}

.jumbotron {
    margin: auto;
    width: 60%;
    background: none;
}

.jumbo-text {
    font-size: 1rem !important;
    line-height: 2.3;
    width: auto;
    font-weight: 100 !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

body>.jumbotron {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.footer_button{
    margin-top: 2rem;
}
.footer_button>a {
    color: #e1e1e1;
    text-decoration: none;
    display: flex;
}

.socials>a {
    color: #e1e1e1;
    text-decoration: none;
    font-size: 22px;
    margin-right: 1rem;
    padding: 0.1rem;
}

#LinkedIn:hover {
    color: #0A66C2;
}

#Github:hover {
    color: #9fa6ad;
}

#StackOverflow:hover {
    color: #f48024;
}


.animation>svg {
    color: #e1e1e1: margin-left: 1rem;
    display: block;
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 2s;
    position: relative;
}

@-webkit-keyframes run {
    0% {
        left: 1%;
    }

    50% {
        left: 3%;
    }

    100% {
        left: 1%;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    margin: 0;
    padding: 0;
}


